{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>360&deg; Image</title>
    <meta name="description" content="360&deg; Image - A-Frame">
    <script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">


   
  </head>
  <body>

    <nav>

        <ul class="sidebar">
            <li id="close-menu" onclick=hideSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#00000"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a></li>
            <li><a class="sidebar-link" href="{% url 'index' %}">Home</a></li>
            <li><a class="sidebar-link" href="{% url 'students' %}">Students</a></li>
            <li><a class="sidebar-link" href="{% url 'virtual_tour_landing' %}">Virtual Tour</a></li>           
        </ul>

        <ul>
            <li id="title"><a href="https://www.ara.ac.nz/news-and-events/events/emerge-2023/">&lt;Emerge&gt;</a></li>
            <li class="hideOnMobile"><a href="{% url 'index' %}">Home</a></li>
            <li class="hideOnMobile"><a href="{% url 'students' %}">Students</a></li>
            <li class="hideOnMobile"><a href="{% url 'virtual_tour_landing' %}">Virtual Tour</a></li>  
            <li class="menu-button" onclick=showSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#e8eaed"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>         
        </ul>
  </nav>

   

  <iframe src="https://app.lapentor.com/sphere/emerge-virtual-tour-1716764447?scene=6653d57e4b1f4059040af12b" frameborder="0" width="100%" height="800px" scrolling="no" allow="vr,gyroscope,accelerometer" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" oallowfullscreen="true" msallowfullscreen="true"></iframe>
  
  
  
  
  <footer>
    <a href="https://www.ara.ac.nz/" target="_blank">
        <img src="{% static 'images/Ara Primary Logo_White.png' %}" alt="Ara Logo">
    </a>
</footer>

  <script>
      function showSidebar() {
          const sidebar = document.querySelector('.sidebar')
          sidebar.style.display = 'flex'
      }

      function hideSidebar() {
          const sidebar = document.querySelector('.sidebar')
          sidebar.style.display = 'none'

      }
  </script>

</body>
</html>
